{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="text-decoration-none" href="{{ path('app_banco_index') }}">Bancos</a></li>
        <li class="list-group-item"><a class="text-decoration-none" href="{{ path('app_agencia_index') }}">Agências</a></li>
        <li class="list-group-item"><a class="text-decoration-none" href="{{ path('app_conta_index') }}">Contas</a></li>
        <li class="list-group-item"><a class="text-decoration-none" href="{{ path('app_gerente_index') }}">Gerentes</a></li>
    </ul>
{% else %}
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>Project App Bank! ✅</h1>
        <h2>Home Page</h2>
        <h4>Today: {{ date|date('d/m/Y') }}</h4>
    </div>
{% endif %}   
{% endblock %}
