{% extends 'base.html.twig' %}

{% block title %}Conta index{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Conta index</h1>
            <a href="{{ path('app_conta_new') }}" class="btn btn-sm btn-primary">Create new</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Número</th>
                    <th>Agência</th>
                    <th>Banco</th>
                    <th>Created_at</th>
                    <th>Updated_at</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for conta in contas %}
                <tr>
                    <td>{{ conta.id }}</td>
                    <td>{{ conta.numero }}</td>
                    <td>{{ conta.agencia.nome }}</td>
                    <td>{{ conta.agencia.banco.nome }}</td>
                    <td>{{ conta.createdAt ? conta.createdAt|date('d/m/Y') : '' }}</td>
                    <td>{{ conta.updatedAt ? conta.updatedAt|date('d/m/Y') : '' }}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" href="{{ path('app_conta_show', {'conta': conta.id}) }}">show</a>
                        <a class="btn btn-sm btn-outline-info" href="{{ path('app_conta_edit', {'conta': conta.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>    
{% endblock %}
