<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            .example-wrapper { padding: 1rem; margin: 6em auto; background: #F5F5F5; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        </style>
    </head>
    <body>
        {% set classBtn = "btn btn-sm"%}

        {# {{ dump(app.request.pathInfo)}} #}
        {# {{ dump(path(app.request.attributes.get('_route'))) }} #}
        
        {% if app.request.pathInfo not in ['/login', '/register']  %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="d-flex justify-content-around align-items-center border-bottom border-primary">
                    <div class="ml-5">
                        <a class="text-decoration-none text-primary" href="{{ path('app_base') }}">Home</a>
                    </div>
                    <div class="mr-5">
                        <span class="text-primary mx-3">{{ app.user.email }}</span> |
                        <a class="text-decoration-none text-primary mx-3" href="{{ path('app_logout') }}">Sair</a>
                    </div>
                </div>
            {% else %}
                <div class="d-flex justify-content-end align-items-center border-bottom border-primary">
                    <a class="text-decoration-none text-primary mr-5 px-2" href="{{ path('app_login') }}">Login</a>
                    <a class="text-decoration-none text-primary mr-5 px-2" href="{{ path('app_register') }}">Register</a>
                </div>
            {% endif %}
            
        
        {% endif %}
    
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
