{% extends 'base.html.twig' %}

{% block title %}Gerente index{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Gerente index</h1>
            <a href="{{ path('app_gerente_new') }}" class="btn btn-sm btn-primary">Create new</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Agência</th>
                    <th>Banco</th>
                    <th>Created_at</th>
                    <th>Updated_at</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for gerente in gerentes %}
                <tr>
                    <td>{{ gerente.id }}</td>
                    <td>{{ gerente.nome }}</td>
                    <td>{{ gerente.agencia.nome }}</td>
                    <td>{{ gerente.agencia.banco.nome }}</td>
                    <td>{{ gerente.createdAt ? gerente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ gerente.updatedAt ? gerente.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_gerente_show', {'id': gerente.id}) }}">show</a>
                        <a href="{{ path('app_gerente_edit', {'id': gerente.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
